<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table align="center" border="1" style="background-color: gold">
        <tbody>
        <form method="POST" action="/login">
            <!--            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">-->
            <tr style="background-color: silver">
                <th colspan="3">
                    <h1>Sign In</h1>
                </th>
            </tr>
            <tr style="background-color: silver">
                <th><label for="login">Login: </label></th>
                <th><input name="login" id="login"/></th>
                <th rowspan="2"><input type="submit" style="background-color: gold"/></th>
            </tr>
            <tr style="background-color: silver">
                <th><label for="password">Password: </label></th>
                <th><input name="password" id="password"/></th>
            </tr>
        </form>
        </tbody>
    </table>
</div>
</body>
</html>