<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="webjars/jquery/3.5.1/jquery.js"></script>
    <style type="text/css">
        .left_bar {
            width: 15%;
        }
        .right_bar {
            width: 85%;
        }
    </style>
    <title>Admin panel</title>
</head>
<body>
<nav class="container-fluid navbar navbar-static-top navbar-dark bg-dark">
    <div class="navbar-brand d-flex justify-content-start mt-2 ml-3">
        <h5 class="font-weight-bold" th:text="${user.getEmail()}">Email</h5>
        <h5 class="font-weight-light" th:text="'&nbsp;with roles:&nbsp;' + ${user.getRoleNames()}">Role</h5>
    </div>
    <ul class="navbar-nav mr-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid tabs">
    <div class="row">
        <ul class="left_bar nav nav-pills flex-column bg-white mt-2 min-vh-100" >
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:classappend="${user.getRoles().size()>1}? 'active'" href="#tab-Admin" data-toggle="tab">Admin</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a class="nav-link" th:classappend="${user.getRoles().size()==1}? 'active'" href="#tab-User" data-toggle="tab">User</a>
            </li>
        </ul>
        <div class="right_bar tab-content bg-light min-vh-100">
            <div class="tab-pane" id="tab-Admin" th:classappend="${user.getRoles().size()>1}? 'active'" sec:authorize="hasRole('ADMIN')">
                <h1 class="font-weight-bold mt-5 ml-5 mb-5">Admin panel</h1>
                <div class="tabs ml-5 mr-5">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${user.getRoles().size()>1}? 'active'" data-toggle="tab" href="#tab-AllUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-AddNewUser">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content card mb-5">
                        <div class="tab-pane" th:classappend="${user.getRoles().size()>1}? 'active'" id="tab-AllUsers">
                            <div class="card-header"><h5 class="font-weight-bold">All users</h5></div>
                            <div class="container-fluid my-3">
                                <table class="table table-striped" id="table_all_users">
                                    <thead>
                                    <tr>
                                        <th><h6 class="font-weight-bold">ID</h6></th>
                                        <th><h6 class="font-weight-bold">First Name</h6></th>
                                        <th><h6 class="font-weight-bold">Last Name</h6></th>
                                        <th><h6 class="font-weight-bold">Age</h6></th>
                                        <th><h6 class="font-weight-bold">Email</h6></th>
                                        <th><h6 class="font-weight-bold">Role</h6></th>
                                        <th><h6 class="font-weight-bold">Edit</h6></th>
                                        <th><h6 class="font-weight-bold">Delete</h6></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- JS Список всех пользователей -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-AddNewUser">
                            <div class="card-header"><h5 class="font-weight-bold">Add new user</h5></div>
                            <div class="form-group col-4 mx-auto text-center">
                                <form>
                                    <label class="font-weight-bold mt-3" for="firstNameNewUser">First Name</label>
                                    <input class="form-control form-control-sm" type="text" th:name="firstName" placeholder="First Name" id="firstNameNewUser">
                                    <label class="font-weight-bold mt-3" for="lastNameNewUser">Last Name</label>
                                    <input class="form-control form-control-sm" type="text" th:name="lastName" placeholder="Last Name" id="lastNameNewUser">
                                    <label class="font-weight-bold mt-3" for="ageNewUser">Age</label>
                                    <input class="form-control form-control-sm" type="number" min="0" max="127" th:name="age" placeholder="Age" id="ageNewUser">
                                    <label class="font-weight-bold mt-3" for="emailNewUser">Email</label>
                                    <input class="form-control form-control-sm" type="text" th:name="email" placeholder="Email" id="emailNewUser">
                                    <label class="font-weight-bold mt-3" for="passwordNewUser">Password</label>
                                    <input class="form-control form-control-sm" type="text" th:name="password" placeholder="Password" id="passwordNewUser">
                                    <label class="font-weight-bold mt-3" for="roleNewUser">Role</label>
                                    <select class="form-control form-control-sm" th:name="role" size="2" id="roleNewUser">
                                        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                        <option selected value="ROLE_USER">ROLE_USER</option>
                                    </select>
                                    <button class="btn btn-success mt-3" type="submit">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-User" th:classappend="${user.getRoles().size()==1}? 'active'" sec:authorize="hasRole('USER')">
                <h1 class="font-weight-bold mt-5 ml-5 mb-5">User information-page</h1>
                <div class="card ml-5 mr-5">
                    <div class="card-header"><h5 class="font-weight-bold">About user</h5></div>
                    <div class="container-fluid my-3">
                        <table class="table table-striped" id="table_user">
                            <thead>
                            <tr>
                                <th><h6 class="font-weight-bold">ID</h6></th>
                                <th><h6 class="font-weight-bold">First Name</h6></th>
                                <th><h6 class="font-weight-bold">Last Name</h6></th>
                                <th><h6 class="font-weight-bold">Age</h6></th>
                                <th><h6 class="font-weight-bold">Email</h6></th>
                                <th><h6 class="font-weight-bold">Role</h6></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- JS Инфо о пользователе -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-Edit">
    <form method="POST" action="/main/admin/{id}"> <!--исправить-->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-8 mx-auto text-center">
                        <label class="font-weight-bold mt-3" for="idEdit">ID</label>
                        <input class="form-control form-control-sm" type="text" name="id" id="idEdit" disabled>
                        <label class="font-weight-bold mt-3" for="firstNameEdit">First Name</label>

                        <input class="form-control form-control-sm" type="text" name="firstName" id="firstNameEdit">
                        <label class="font-weight-bold mt-3" for="lastNameEdit">Last Name</label>

                        <input class="form-control form-control-sm" type="text" name="lastName" id="lastNameEdit">
                        <label class="font-weight-bold mt-3" for="ageEdit">Age</label>

                        <input class="form-control form-control-sm" type="number" min="0" max="127" th:name="age" id="ageEdit">
                        <label class="font-weight-bold mt-3" for="emailEdit">Email</label>

                        <input class="form-control form-control-sm" type="text" name="email" id="emailEdit">
                        <label class="font-weight-bold mt-3" for="passwordEdit">Password</label>

                        <input class="form-control form-control-sm" type="text" name="password" id="passwordEdit">
                        <label class="font-weight-bold mt-3" for="roleEdit">Role</label>

                        <select class="form-control form-control-sm" th:name="role" size="2" id="roleEdit">
                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            <option selected value="ROLE_USER">ROLE_USER</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="buttonSubmitEdit" type="submit">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal" id="modal-Delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group col-8 mx-auto text-center">
                    <label class="font-weight-bold mt-3" for="idDelete">ID</label>
                    <input class="form-control form-control-sm" type="text" name="id" id="idDelete" disabled>
                    <label class="font-weight-bold mt-3" for="firstNameDelete">First Name</label>
                    <input class="form-control form-control-sm" type="text" name="firstName" id="firstNameDelete" disabled>
                    <label class="font-weight-bold mt-3" for="lastNameDelete">Last Name</label>
                    <input class="form-control form-control-sm" type="text" name="lastName" id="lastNameDelete" disabled>
                    <label class="font-weight-bold mt-3" for="ageDelete">Age</label>
                    <input class="form-control form-control-sm" type="number" min="0" max="127" name="age" id="ageDelete" disabled>
                    <label class="font-weight-bold mt-3" for="emailDelete">Email</label>
                    <input class="form-control form-control-sm" type="text" name="email" id="emailDelete" disabled>
                    <label class="font-weight-bold mt-3" for="passwordDelete">Password</label>
                    <input class="form-control form-control-sm" type="text" name="password" id="passwordDelete" disabled>
                    <label class="font-weight-bold mt-3" for="roleDeleteUser">Role</label>
                    <select class="form-control form-control-sm" size="2" name="" id="roleDeleteUser" disabled>
                        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                        <option value="ROLE_USER">ROLE_USER</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" type="submit" th:href="@{/main/admin/{id}(id=${user.getId()})}">Delete</a> <!--исправить-->
            </div>
        </div>
    </div>
</div>

<script th:src="main.js"></script>
</body>
</html>